<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Resident Advisor Music News Mongo Scraper</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            {{#if articles}}
            {{#each articles}}
            <div class="card">
                <div class="card-header">
                    <h3>
                        <a href='https://www.residentadvisor.net/{{this.link}}' target="blank"> {{this.title}}</a>
                    </h3>
                </div>
                <div class="card-body">
                   <p> {{this.headline}}</p>
                   
                    <button id="{{_id}}" class="btn btn-success save" id="saveArt">Save Article</button>
                </div>

            </div>
            {{/each}}
            {{else}}
            <div class="card">
                <h5 class="card-header"></h5>
                <div class="card-body">
                    <h5 class="card-title">Uh Oh. Looks like we don't have any new articles</h5>
                    <a href="/scrape" class="btn btn-primary scrape">Scrape New Articles</a>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>