<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#if articles}}
            {{#each articles}}
            <div class="card">
                <div class="card-header">
                    <h3>
                    <a href='https://www.residentadvisor.net/{{this.link}}' target="blank"> {{this.title}}</a>
                    </h3>
                </div>
                <div class="card-body">
                    {{this.headline}}
                </div>
                HELLO
            </div>


            <button type="button" class="btn btn-success addNote" data-toggle="modal"
                data-target="#noteModal{{this._id}}" data-id={{_id}}>Add a Note </button>

            <button type="button" class="btn btn-danger" id="delete" data-id={{_id}}>Delete</button>
            {{> notes/notes-modal }}
        </div>
    </div>
</div>
</div>
{{/each}}
{{else}}
<div class="panel panel-default">
    <div class="panel-body">
        <h4>You have no saved articles.</h4>
    </div>
</div>
{{/if}}



{{!-- <div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="successMessage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes for Article <span id="articleId"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="articlesDesc">
                    
                </div>
                <form>
                <div class="form-group">
                    <label for="note-input" class="sr-only">Enter Note Here</label>
                    <textarea class="form-control" id="note-input" placeholder="New Note"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="save-note">Save Note</button>
            </div>
        </div>
    </div>
</div> --}}