
<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Saved Articles</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
            <div class="card">
                <h5 class="card-header">{{this.title}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{this.headline}}</h5>
                    <a href="https://www.residentadvisor.net/{{this.link}}"" target="_blank">"https://www.residentadvisor.net/{{this.link}}</a>
                </div>
            </div>
                <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add a Note</button>
                
                <button type="button" class="btn btn-danger" id="delete" data-id={{this._id}}>Delete</button>
    </div>
</div>
            {{/each}}
        {{else}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>You have no saved articles.</h4>
                </div>
            </div>
        {{/if}}


{{!-- {{#each article}}
    {{> notes-modal }}
{{/each}} --}}
